<div class="container">
  <section id="kakeibo_list">
    <h2>一覧</h2>
    <!-- 一覧表示部分 -->
    <table class="table table-striped">
      <thead>
        <th>日付</th>
        <th>金額</th>
        <th>品目</th>
        <th>削除</th>
      </thead>
      </tbody>
      <tr ng-repeat="kakeibo in list.kakeibos" ng-click='list.selected(kakeibo)'>
        <td ng-bind='kakeibo.formatDate()'></td>
        <td ng-bind='kakeibo.money'></td>
        <td ng-bind='kakeibo.item'></td>
        <td>
          <button type="button" class="btn-default" ng-click='list.remove(kakeibo)'>削除</button>
        </td>
      </tr>
      <tbody>
    </table>
  </section>
</div>
